/* imports */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');


/* Configuration root */
:root{
    --black: #041B15;
    --gray: #BFBFBF;
    --blue: #0D21A1;
    --yellow: #EEC643;
    --white: #F5F5F5;
    --xl: 4rem;
    --l: 3rem;
    --m: 1.5rem;
    --s: 1rem;
    --xs: 0.5rem;
    --xxs: 0.25rem;
    --font-family: 'Oswald', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}


*, *:before, *:after{
    box-sizing: inherit; /* Cuando agreguemos width a un elemento, y despues un padding, no modifica
    el tamaño del elemento */
}

/* Globals */

body {
    font-family: var(--font-family);
    line-height: 2;
}

h1{
    font-size: var(--xl);
}

h2{
    font-size: var(--l);
}

h3{
    font-size: var(--m);
    font-weight: bold;
}
p {
    font-size: var(--m);
}

a {
    text-transform: capitalize;
    text-decoration: none;
    color: var(--blue)
}

img{
    max-width: 100%;
}

/** Utilidades **/
.text-center{
    text-align: center;
}

.btn{
    background-color: var(--white);
    color: var(--blue);
    border: none;
    padding: 1rem 2rem;
    margin: .5rem;
    font-size: var(--m);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
    width: 96%;
}

.btn:hover{
    background-color: var(--blue);
    border: 0.2rem solid var(--white);
    color: var(--white);
}

/* Container */
.container{
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.container-menu{
    border-top: var(--gray) 0.1rem solid;
}
.container-layout-menu{
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
}


/* Header */

.title-site{
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: center;
    font-size: 3rem;
}

header h1 span {
    color: var(--blue);
}


/* Nav */

.menu {
    display: flex;
    padding: 2rem 0;
    justify-content: space-evenly; /* si es row, justify content es horizontal */
}

.enlace-nav{
    font-size: var(--m);
    color: var(--blue);
    font-weight: 600;
}

/* Hero */
.hero{
    width: 100%;
    height: 45rem;
    background-image: url(../img/banner.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Category */
.categories{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
}

.category-img{
    width: 100%;
    height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-category{
    text-align:center;
}

.category-header h2{
    text-align:center;
    font-size: var(--l);
}

.category-item a{
    display:block;
    text-align:center;
    padding: 1.5rem;
    font-size: 2rem;
}

.category-item a:hover{
    background-color: var(--blue);
    color: var(--white);
}

/* Nosotros */
.nosotros{
    background-image:linear-gradient(to right, transparent 50%, var(--blue) 50%, var(--blue) 100%), url(../img/nosotros.jpg);
    padding: 10rem 0; /* top bottom left right */
    background-repeat: no-repeat;
    background-size: 100%, 191rem; /* 100% a el color azul, y 140 rem a la iamgen */
    background-position: right center;
}


.nosotros-grid{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.text-nosotros{
    flex-basis: 40%;
    color: var(--white);
}

/* Productos */

.products-list{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 3rem;
    row-gap: 3rem;
}

.product:nth-child(1){
    grid-column: 1 / 7;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.product:nth-child(1) img{
    height: 46rem;
    width: 100%;
    object-fit: cover;
}

.product:nth-child(2){
    grid-column: 1 / 4;
}

.product:nth-child(2) img, .product:nth-child(3) img{
    height: 30rem;
    width: 100%;
    object-fit: cover;
}

.product:nth-child(3){
    grid-column: 4 / 7;
}

.product:nth-child(4){
    grid-column: 1 / 3;
}

.product:nth-child(5){
    grid-column: 3 / 5;
}

.product:nth-child(6){
    grid-column: 5 / 7;
}

.product:nth-child(4) img, .product:nth-child(5) img, .product:nth-child(6) img{
    height: 20rem;
    width: 100%;
    object-fit: cover;
}

.product{
    background-color: var(--blue);
}

.product-text{
    color: var(--white);
}

.product-price{
    font-size: var(--l);
    font-weight: bold;
}

.product-text h2{
    margin: 3rem 0 1rem 0;
}

.product-text p{
    margin: 0 6.5rem 0.5rem 6.5rem;
}

.product-text a {
    color: var(--white);
    text-decoration: none;
}


/* Footer */

.footer{
    border-top: var(--gray) 0.1rem solid;
}

.footer h3{
    margin-bottom: .5rem;
    font-size: 2.5rem;
}

.grid-footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.navegacion a {
    color: var(--black);
    text-decoration: none;
    font-size: var(--m);
    display:block;
}

.copyright{
    text-align: center;
    margin-top: 5rem;
}

/* Nosotros page */
.content-nosotros{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    column-gap: 10rem;
    margin-top: 8rem;
}

.text-nosotros{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--black)
}

/* blog */

.grid-blog{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
}

.entry-blog{
    border-bottom: var(--gray) 0.1rem solid;
}

.entry-blog:last-of-type{
    border:none;
}

.entry-meta{
    display:flex;
    justify-content: space-between
}

/* Galery */
.main-galery{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
}

.main-galery img{
    height: 40rem;
    width: 40rem;
    object-fit: cover;
}

form{
    max-width: 50rem;
    margin: 0 auto;
    border: 1px solid var(--gray);
    padding: 2rem;
}
legend{
    font-size: 1.5rem;
    font-weight: bold;
}
input{
    display: block;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid var(--gray);
}

/* modify placeholder of input */
input::placeholder{
    color: var(--gray);
    font-size: 1rem;
}

textarea::placeholder{
    color: var(--gray);
    font-size: 1rem;
}

textarea{
    display: block;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid var(--gray);
}
/* flexbox 
Para la alineacion o ditribucion de los elementos que estan dentro de un contenedor

grid
definir el layour del sitio web / contenedores principales

*/

/* 
default -> toma el tamaño en base al contenido, sumado al width, padding, margin que sea agregado.
box-sizing: content-box

adaptable
box-sizing: border-box */

/* BEM
block__element--modifier
.card {}
.card__title {}
.card__description {} 
.card__big--active {}


UTILIDADES
.text-center {}
.color-red-100 {}
.p-2 {}

MODULOS
.card img {}
.card h2 {}
.card p {}


SMACSS -> arquitectura escalable
#header, #article, #footer {}
*/
