/* imports */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');


/* Configuration root */
:root{
    --black: #041B15;
    --gray: #BFBFBF;
    --blue: #0D21A1;
    --yellow: #EEC643;
    --white: #F5F5F5;
    --xl: 4rem;
    --l: 3rem;
    --m: 1.5rem;
    --s: 1rem;
    --xs: 0.5rem;
    --xxs: 0.25rem;
    --font-family: 'Oswald', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}


*, *:before, *:after{
    box-sizing: inherit; /* Cuando agreguemos width a un elemento, y despues un padding, no modifica
    el tamaño del elemento */
}

/* Globals */

body {
    font-family: var(--font-family);
    line-height: 2;
}

h1{
    font-size: var(--xl);
}

a {
    text-transform: capitalize;
    text-decoration: none;
    color: var(--blue)
}

img{
    max-width: 100%;
}

/* Container */
.container{
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.container-menu{
    border-top: var(--gray) 0.1rem solid;
}


/* Header */

.title-site{
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: center;
    font-size: 3rem;
}

header h1 span {
    color: var(--blue);
}


/* Nav */

.menu {
    display: flex;
    padding: 2rem 0;
    justify-content: space-evenly; /* si es row, justify content es horizontal */
}

.enlace-nav{
    font-size: var(--m);
    color: var(--blue);
    font-weight: 600;
}

/* Hero */
.hero{
    width: 100%;
    height: 45rem;
    background-image: url(../img/banner.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Category */
.categories{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
}

.category-img{
    width: 100%;
    height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-category{
    text-align:center;
}

.category-header h2{
    text-align:center;
    font-size: var(--l);
}

.category-item a{
    display:block;
    text-align:center;
    padding: 1.5rem;
    font-size: 2rem;
}

.category-item a:hover{
    background-color: var(--blue);
    color: var(--white);
}
/* 
default -> toma el tamaño en base al contenido, sumado al width, padding, margin que sea agregado.
box-sizing: content-box

adaptable
box-sizing: border-box */

/* BEM
block__element--modifier
.card {}
.card__title {}
.card__description {} 
.card__big--active {}


UTILIDADES
.text-center {}
.color-red-100 {}
.p-2 {}

MODULOS
.card img {}
.card h2 {}
.card p {}


SMACSS -> arquitectura escalable
#header, #article, #footer {}
*/
*/